.input{
    display: inline-block;
    background-color: transparent;
    height: 25px;
    max-width: 200px;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding: 5px 10px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
}
.button{
padding: 10px 20px 10px 20px;
  background-color: #ff69b4;
  border: 1px solid #ff69b4;
  color: #fff;
  border-radius: 3px;
  max-height: 60px;
  align-self:flex-start;
}
.button:hover {
    background-color: #b2497d;
    border: 1px solid #b2497d;
  }
.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.label{
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.inputList{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}